.item {
  padding: 20px 0;

  &:first-child {
    margin-top: 20px;
  }

  .content {
    .price {
      font-weight: 700;
      color: #000 !important;
    }

    .button {
      all: unset;
      min-width: 32px;
      min-height: 32px;

      background: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink-3.png")
        center center / 100% no-repeat;
    }
  }

  img {
    width: 100%;
  }

  &.list {
    display: flex;
    border-top: 1px solid rgb(242, 242, 242);

    img {
      width: 100px;
    }
  }

  &.card {
    display: inline-block;
    width: 50%;

    .content {
      display: flex;
    }
  }
}
