* {
  box-sizing: border-box;

  html,
  body,
  h3,
  span,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  font-family: Roboto, "Noto Sans KR", sans-serif;
}

.CardList {
  display: flex;
}
